.cover-container{
    /*Ocupa toda la altura*/
    height: 100vh;
    width: 100%;
    /*Determina la misma anchura*/
    object-fit: contain;
    /*Opacidad*/
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);

    /*H1 posicionado al centro*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.video{
    /*Ocupa todo el espacio*/
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    /*El video se situa por debajo de 
    la opacidad*/
    z-index: -1;
}

.cover-container > h1{
    color: white;
    font-size: 80px;
}
.cover-container > p{
    margin-top: 8px;
    color: white;
    font-size: 22px;
}